@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "spartan", Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}

.wrapper {
    background: url("../images/bg-pattern-top-desktop.svg") no-repeat,
        url("../images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
    width: 144rem;
    height: 80rem;
    border: 2px solid red;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-top {
    display: flex;
    justify-content: space-between;
    min-width: 110rem;
    max-height: 23.5rem;
    margin-top: 12.7rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 44.5rem;
}

.left-side .heading {
    color: var(--very-dark-magenta);
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 4.8rem;
    letter-spacing: -1.71429px;
}

.left-side .text {
    color: var(--dark-grayish-magenta);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
}

.right-side {
    min-width: 54rem;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border: 2px solid red;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 44.5rem;
    max-height: 5.6rem;
    flex-basis: 100%;
    border-radius: 0.8rem;
    background-color: var(--light-grayish-magenta);
}

.star {
    background: url("../images/icon-star.svg");
    background-repeat: round;
    min-width: 9rem;
    height: 1.577rem;
    margin: 0 3.2rem;
}

.review-top {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
.review-middle {
    align-self: center;
    display: flex;
    flex-direction: row;
}
.review-bottom {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.review .text {
    color: var(--very-dark-magenta);
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
}
