@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "spartan", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat top right,
        url("../images/bg-pattern-bottom-mobile.svg") no-repeat bottom right;
    width: min-content max-content;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2.4rem 9.9rem;
}

.container-top {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
}

.heading {
    color: var(--very-dark-magenta);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.14px;
    margin-bottom: 1.8rem;
}
.text .body {
    color: var(--dark-grayish-magenta);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.667;
    letter-spacing: -0.5px;
    margin-bottom: 4rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review {
    background-color: var(--light-grayish-magenta);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-star {
    background: url("../images/icon-star.svg");
    background-repeat: round;
    width: 7.7rem;
    height: 15.772px;
    margin: 1.6rem 0;
}

.review-text {
    color: var(--very-dark-magenta);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.12;
    margin-bottom: 1.5rem;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 4.9rem;
    gap: 1.6rem;
}

.card {
    background-color: var(--very-dark-magenta);
    border-radius: 0.8rem;
    padding: 4rem 3.2rem 3.2rem;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem;
}
.header-container img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 2.3rem;
}

.card-title h2 {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.192;
    margin-bottom: 0.5rem;
}
.card-title span {
    color: var(--soft-pink);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.192;
}

.card-body {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.692;
    letter-spacing: -0.25px;
}

@media screen and (min-width: 900px) {
    .wrapper {
        background: url("../images/bg-pattern-top-desktop.svg") no-repeat,
            url("../images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
        padding-bottom: 1rem;
    }

    .container-top {
        margin-top: 2rem;
    }

    .review {
        min-width: 44.5rem;
    }
    .review-top {
        align-self: flex-start;
    }
    .review-middle {
        align-self: center;
    }
    .review-bottom {
        align-self: flex-end;
    }

    .card {
        max-width: 35rem;
    }
    .card-top {
        align-self: flex-start;
    }
    .card-middle {
        align-self: center;
    }
    .card-bottom {
        align-self: flex-end;
    }
}

@media screen and (min-width: 1440px) {
    .wrapper {
        padding: 12.7rem 16.5rem 10rem;
        width: 144rem;
    }

    .container-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 7.2rem;
    }

    .heading {
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -1.71429px;
        margin-bottom: 1.6rem;
    }

    .text {
        text-align: left;
        max-width: 44.5rem;
    }
    .text .body {
        margin-bottom: 0rem;
    }

    .container-bottom {
        flex-direction: row;
        justify-content: space-between;
        min-height: 26.6rem;
    }

    .reviews {
        max-width: 54rem;
        max-height: 20rem;
        justify-content: space-between;
        flex-basis: 100%;
    }

    .review {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    .review-star {
        margin: 0 3.2rem 0;
    }
    .review-text {
        margin: 2.1rem 0 2rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
